[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
sklearn = "*"
scikit-learn = "*"
statsmodels = "*"
keras = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.10"
